.Backend.User .Projects .selector {
    display: flex;
    padding: 72px;
    align-items: center;
    border-radius: 30px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--border-5);
}

.Backend.User .Projects .selector.uploaded {
    background-color: var(--green-10);
}

.Backend.User .Projects .selector .icon {
    width: 130px;
    display: flex;
    height: 130px;
    font-size: 50px;
    position: relative;
    border-radius: 50%;
    color: var(--white);
    align-items: center;
    margin-bottom: 11px;
    justify-content: center;
    box-shadow: 0 0 0 11px var(--blue-20);
}

.Backend.User .Projects .selector.loading .icon {
    display: block;
    overflow: hidden;
    box-shadow: 0 0 0 11px var(--orange-20);
}

.Backend.User .Projects .selector.uploaded .icon {
    background-color: var(--green);
    box-shadow: 0 0 0 11px var(--green-20);
}

.Backend.User .Projects .selector .icon::after {
    content: "";
    position: absolute;
    width: calc(100% + 2 * 11px);
    height: calc(100% + 2 * 11px);
    z-index: -1;
    border-radius: 50%;
    box-shadow: 0 0 0 10px var(--blue-10);
}

.Backend.User .Projects .selector.loading .icon::after {
    box-shadow: 0 0 0 10px var(--orange-10);
}

.Backend.User .Projects .selector.loading .icon div {
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    transition: all .25s;
}

.Backend.User .Projects .selector.uploaded .icon::after {
    box-shadow: 0 0 0 10px var(--green-10);
}

.Backend.User .Projects .selector .title {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 13px;
    color: var(--border-30);
}

.Backend.User .Projects .selector.uploaded .title {
    color: var(--green);
}

.Backend.User .Projects .selector .subtitle {
    color: var(--border-75);
}

.Backend.User .Projects table .submitted {
    font-weight: 700;
    color: var(--blue);
}

.Backend.User .Projects table .approved i {
    margin-right: 24px;
    color: var(--green);
}

.Backend.User .Projects table .pending i {
    margin-right: 24px;
    color: var(--orange);
}

.Backend.User .Projects table .rejected i {
    margin-right: 24px;
    color: var(--red);
}

.Backend.User .Projects table .status {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
}